/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer-wrapper {
    background-color: $c-black2;
    padding: 3rem 0;
    width: 100%;

    .wrapper-content {
        max-width: 144rem;
        width: 100%;
        display: flex;
        margin: 0 auto;
        color: $c-white;
        padding: 0 4rem;
        gap: 4rem;

        .content {
            flex: 1;

            .column-title {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 2.8rem;
                margin-bottom: 3rem;
                color: $c-green3;
                text-transform: capitalize;
            }
            .last-col {
                text-align: center;
                .column-list {
                    margin-bottom: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
            }

            .column-item {
                margin-bottom: 2rem;

                p, a {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 2.8rem;
                    letter-spacing: 0em;
                    margin-bottom: 2rem;
                    display: inline-flex;
                    color: $c-white;
                    text-decoration: none;
                    margin-bottom: 0;
                }

            }
        }
    }
}