/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
	@include breakpoint-down(mobile-medium) {
		position: absolute;
		top: 99.6%;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: $c-white;
		z-index: 101;
		padding: 5rem 0;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
		transition: opacity .3s, visibility .3s, transform .3s;
	}

	&.is-active {
		opacity: 1;
		visibility: visible;
		transform: none;
	}

	>  ul {
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint-down(mobile-medium) {
			display: block;
		}
	}

	> ul > li + li {
		margin-left: 3.4rem;

		@include breakpoint-down(mobile) {
			margin-left: 1.4rem;
		}

		@include breakpoint-down(mobile-medium) {
			margin-left: 0;
			margin-top: 2rem;
		}
	}


	> ul > li {
		font-size: 1.4rem;

		@include breakpoint-down(mobile) {
			font-size: 1.2rem;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 1.4rem;
		}
	}

	> ul > li.has-dropdown {
		@include breakpoint-down(mobile-medium) {
		 	position: relative;
		 }
	}

	> ul > li.has-dropdown:after,
	> ul > li.has-dropdown:before {
		content: '';
		position: absolute;
		top: .5rem;
		right: 1.5rem;
		width: 1rem;
		height: .2rem;
		background-color: #007A7A;
		transition: transform .3s;
		display: none;

		@include breakpoint-down(mobile-medium) {
			display: block;
		}
	}

	> ul > li.has-dropdown:after {
		transform: rotate(90deg);
	}

	> ul > li.has-dropdown.is-clicked:after {
		transform: rotate(0deg);
	}

	> ul > li p {
		display: inline-block;
		position: relative;
        margin-bottom: 0;
        cursor: pointer;
	}

	>ul > li > p {
		@include breakpoint-down(mobile-medium) {
			display: block;
			margin: 0  1.5rem;
		}
	}

	> ul > li > p:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: .1rem;
		background-color: $c-green;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s, visibility .3s;

		@include breakpoint-down(mobile-medium) {
			display: none;
		}
	}

	> ul > li:hover > p:after {
		opacity: 1;
		visibility: visible;
	}

	ul > li:hover > .dropdown {
		@include breakpoint-up(mobile-medium) {
			opacity: 1;
			visibility: visible;
		}
	}


}
.ant-dropdown.nav-menu-dropdown {
	top: 184px !important;
    position: absolute !important;
	width: 100%;
	background-color: $c-dark-blue;
    z-index: 3000;
    &.nav-menu-dropdown-sticky{
        top: 79px !important;
        position: fixed !important;
    }
	.navbar-wrapper-dropdown {
		width: 100%;
		max-width: 140rem;
		margin: 0 auto;
		color: $c-white;
		.ant-dropdown-menu, .ant-dropdown-menu-content.ant-dropdown-menu-content-active, .ant-dropdown-menu-content-box{
			background-color: $c-dark-blue;
			border: 0;
			box-shadow: none;
		}
		.ant-dropdown-menu-content.ant-dropdown-menu-content-active{
			border-top: 0;
		}
		.ant-collapse-item  {
			display: flex;
			flex-direction: column;
			border: 0;
			&:hover{
				background-color: $c-dark-blue;
			}
			&.ant-collapse-item-active{
				.ant-collapse-item-content.ant-collapse-item-content-active{
					width: 100%;
				}
			}
			.ant-collapse-item-header{
				width: 100%;
			}
			.ant-collapse-header-text,.ant-collapse-header-text{
				color: $c-white;
			}
            .ant-collapse-content-box {
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 4rem;
                padding-top: 0;
                span {
                    font-size: 12px;
                    font-weight: 300;
                    color: $c-white;
                    display: inline-flex;
                    margin-right: 2rem;
                    a {
                        text-decoration: none;
                    }
                }
            }
		}
        span.ant-collapse-header-text {
            font-weight: 500;
        }
	}

	.icon-collaspe{
		svg {
			color: #007A7A;
			font-weight: bold;
		}
	}
}
