/* ------------------------------------------------------------ *\
	Product
\* ------------------------------------------------------------ */

.product {
	text-align: center;
	padding: 3.5rem 2.5rem 9rem;
	height: 100%;
	position: relative;

	.tag{
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.8rem 2rem;
		@include breakpoint-down(mobile) {
			padding: 0.8rem 1rem;
		}
		&:has(> span.arrival) {
			background-color: $c-800-gray;
		}
		&:has(> span.sale) {
			background-color: $c-700-red;
			text-transform: uppercase;
		}
		span {
			color: $c-white;
			letter-spacing: 1px;
			-webkit-text-stroke-width: 0.15rem;
			font-size: 2rem;
			@include breakpoint-down(mobile) {
				font-size: 1.2rem;
				letter-spacing: unset;
				-webkit-text-stroke-width: unset;
			}
			@include breakpoint-down(tablet) {
				font-size: 1.4rem;
				letter-spacing: unset;
				-webkit-text-stroke-width: unset;
			}
		}
	}


	@include breakpoint-down(mobile) {
		padding: 1.5rem 0;
		width: 100%;
	}

	.product__image {
		margin-bottom: 1.1rem;
		height: 28.1rem;
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint-down(large-desktop) {
			height: 30rem;
		}

		@include breakpoint-down(tablet) {
			height: 25rem;
		}

		@include breakpoint-down(mobile-medium) {
			height: 20rem;
		}
	}

	.product__image img {
		max-height: 100%;
	}

	.product__content {
		max-width: 23.8rem;
		margin: 0 auto;
		.price {
			span {
				font-weight: 700;
				font-size: 2rem;
				line-height: 2.37rem;
				display: inline-block;
				margin: 1rem 0;
				&.current-price {
					color: $c-700-blue;
				}
				&.origin-price {
					display: inline-flex;
					margin-right:0.5rem;
					margin-left: 4rem;
					color: $c-600-gray;
					text-decoration: line-through;
				}
			}
		}

		@include breakpoint-down(mobile) {
			max-width: 70%;
			text-align: center;

			h6 {
				font-size: 1.6rem;
			}
		}
	}

	.product__btn {
		position: absolute;
		bottom: 2.5rem;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		transition: opacity .3s;

		@include breakpoint-down(mobile) {
			position: relative;
			bottom: auto;
			left: auto;
			transform: translate(0,0);
			margin-top: 1rem;
		}
	}

	.product__content h6 {
		margin-bottom: 2.5rem;
	}
}
