/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search {
	@include breakpoint-down(mobile) {
		margin-right: -1rem;
	}

	form {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
	}

	.search__field {
        flex-shrink: 0;
        border: none !important;
        box-shadow: none !important;
        &:focus{
            box-shadow: none;
            border-color: transparent;
        }
        input {
            border: none;
            font-size: 1.4rem;
            font-weight: 500;
            margin-left: 1.2rem;
            &::placeholder {
                border: none;
                outline: none;
                box-shadow: none;
                font-weight: 400;
                color: #242f2e;
            }

            @include breakpoint-down(mobile) {
                font-size: 1.4rem;
                max-width: 5rem;
                margin-left: .7rem;
            }

            @include breakpoint-down(mobile-medium) {
                max-width: 11rem;
            }
        }
	}

	.search__btn {
		width: 3rem;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		outline: none;

		@include breakpoint-down(mobile) {
			width: 2.3rem;
		}
	}
}
