/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */
.section-slider .swiper{
	align-items: center;
    border: 0.2rem solid #000;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem 2.4rem;
    position: relative;
	
	.slider-wrapper{
		position: relative;
		display: flex;
		align-items: center;
	}
}
.swiper-slide-active {
    box-shadow: 0 0 4px 3px rgba(0,0,0,.29);
}
.section-slider {
	position: relative;
	padding: 2rem 1rem 2.4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include breakpoint-down(mobile) {
		padding: 0;
		border: 0;
		max-width: 100%;
		overflow: visible;
		margin-top: 2rem;
	}

	.slider__slide {
		height: auto;
		transition: box-shadow .3s;
	}

	.swiper-slide-active {
		box-shadow: 0  0  4px 3px rgba(0, 0, 0, 0.29);
	}

	.slider__btn:after {
		display: none;
	}

	.swiper-button-next, .swiper-button-prev {
		top: 40.6%;
		i {
			$size :14px;
			display: inline-block;
			width: $size;
			height: $size;
			cursor: pointer;
		}

		@include breakpoint-down(tablet) {
			display: none;
		}
	}
	.slider__btn{
		position:absolute;
		z-index:91;
	}
	.swiper-button-prev {
		left: 4.5rem;
	}

	.swiper-button-next {
		right: 4rem;
	}

	.swiper-slide-active .product .product__btn {
		opacity: 1;
	}
}
