.detail-product {
    background-color: $c-white;
    padding: 5rem 0;

    .right-col {
        h1 {
            color: $c-dark-blue;
            font-size: 4.4rem;
            font-weight: 700;
            text-transform: capitalize;
        }

        .content {
            margin-top: 2rem;

            .label-custom {
                color: $c-dark-blue;
                font-size: 2.4rem;
                font-weight: 600;
            }
            .wrapper-quanity {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 2rem;
            }

            .quanity {
                display: flex;
            }

            .product-input, {
                height: 3.7rem;
                border: 0.1rem solid $c-black;
                border-radius: unset;
                color: $c-dark-blue;
                font-size: 2.4rem;
                font-weight: 500;

                &:focus {
                    border-color: $c-black;
                    box-shadow: none;
                }
            }

            .product-custom-select {
                &:focus {
                    .ant-select-selector {
                        border-color: $c-black;
                        box-shadow: none;
                    }
                }

                .ant-select-selector {
                    height: 3.7rem;
                    border: 0.1rem solid $c-black;
                    border-radius: unset;
                    .ant-select-selection-item {
                        color: $c-dark-blue;
                        font-size: 2.4rem;
                        font-weight: 500;
                    }
                    &:focus {
                        border-color: $c-black;
                        box-shadow: none;
                    }
                }
            }

            .minus, .plus {
                $size: 2.2rem;
                width: $size;
                height: $size;
                font-weight: bold;
                -webkit-text-stroke-width: 1px;
                background-color: transparent;
                border: 0.1rem solid $c-dark-blue;
                display: flex;
                justify-content: center;
                flex-shrink: 0;
                align-self: center;
                align-items: center;
                margin-top: 2rem;
            }

            .minus {
                margin-right: 1rem;
            }

            .plus {
                margin-left: 1rem;
            }

            .current-price {
                color: $c-dark-blue;
                font-size: 3rem;
                font-weight: 400;
                margin-top: 2rem;
                margin-bottom: 0;
            }

            .quanity {
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                }
                .product-input {
                    text-align: center;
                }

                .wrapper-qty {
                    max-width: 4.9rem;

                    p {
                        color: $c-dark-blue;
                        font-size: 2rem;
                        font-weight: 500;
                        margin-bottom: 1rem;
                        text-align: center;
                    }
                }

            }
        }
    }
}
