.product-grid-image {
    .image-wrapper {
        width: 100%;
        height: 25.8rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
